.champEnErreur{
	border : 3px red solid;
}

.champValide{
	border : 1px green solid;
}

label {
	width: 120px; 
	float: left; 
	display: block;
	color: black;
}

.label_ajoutCompetence {
	width: 150px; 
	float: left; 
	display: inline;
	color: black;
}
input {
	width: 200px; 
	float: left; 
	display: block;
}
