<html xmlns:th="http://www.thymeleaf.org">

<div id="competence" class="tab-pane fade">
	<div class="container">
		<table style="width:90%">
			<tr>
				<th>Compétence&nbsp; &nbsp;</th>
				<th>Type &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</th>
				<th>Niveau &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
				<th>Expérience</th>
				<th>Année &nbsp; &nbsp;</th>
				<th>Commentaire&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
				<th>Action
				<th>
			</tr>

			<tr th:each="c : ${competences}">
				<td th:text="${c.competenceType.nom}"> </td>
				<td th:text="${c.competence.nom}"></td>
				<td th:text="${c.niveau}"></td>
				<td th:text="${c.dureeExperience}"></td>
				<td th:text="${c.anneeDerniereExperience}"></td>
				<td th:text="${c.commentaire}" ></td>
				<!--				Exemple lien avec parametres en utilisant Thymeleaf
				<a th:href="@{/editFormation(idFormation=${f.id}, id2=${f.annee})}"> -->
				<td>
					<!-- 				<a th:href="@{/editFormation(idCompetence=${f.id})}">  -->
					<div th:onclick="'editCompetenceDetail('+${c.id}+')'">
						<span class="glyphicon glyphicon-pencil"></span>
					</div> <!-- 				</a> -->
				</td>
				<td>
					<!-- 				<a th:href="@{/editCompetence(idCompetence=${f.id})}">  -->
					<div th:onclick="'suppCompetence('+${c.id}+')'">
						<span class="glyphicon glyphicon-trash"></span>
					</div> <!-- 				</a> -->
				</td>
			</tr>
		</table>
	</div>
	<br> <br> <br>
	<p>
		<a class="btn btn-lg btn-warning" id="btnAjouterCompetence">Ajouter
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</p>
	<div
		th:replace="fragments/components :: modal(id='competenceAjout-modal', title='Ajouter une compétence')"></div>

	<div
		th:replace="fragments/components :: modal(id='competenceModification-modal', title='Modifier une compétence')"></div>

	<div
		th:replace="fragments/components :: modal(id='CompetenceConfirmerSuppression-modal', title='Confirmation Suppression')"></div>
</div>

<script th:inline="javascript" type="text/javascript">
	/* Fill in modal with content loaded with Ajax */
	$(document).ready(function() {
		$('#btnAjouterCompetence').on('click', function() {
			$("#competenceAjout-modal").modal();
			$("#competenceAjout-modal-body").text("");
			$.ajax({
				url : "competenceAjoutURL",
				cache : false
			}).done(function(html) {
				$("#competenceAjout-modal-body").append(html);
			});
		});
	});

	function editCompetenceDetail(idCompetence) {

		$("#competenceModification-modal").modal();
		$("#competenceModification-modal-body").text("");
		$.ajax({
			url : "competenceModificationURL?idCompetence=" + idCompetence,
			cache : false
		}).done(function(html) {
			$("#competenceModification-modal-body").append(html);
		});
	}
	
	function suppCompetence(idCompetence) {

		$("#CompetenceConfirmerSuppression-modal").modal();
		$("#CompetenceConfirmerSuppression-modal-body").text("");
		$.ajax({
			url : "competenceConfirmerSuppressionURL?idCompetence=" + idCompetence,
			cache : false
		}).done(function(html) {
			$("#CompetenceConfirmerSuppression-modal-body").append(html);
		});

	}
</script>
