<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Competence modification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>


<form class="form-narrow form-horizontal" action="#" method="post"
	th:action="@{/competenceModification}">
	<input type="hidden" th:field="${competenceSaisieForm.idDetailCompetence}"/>
	<th:block th:if="${param.error != null}">
		<div
			th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
	</th:block>

	<fieldset>
		<legend>Modifier une compétence</legend>

		<div class="form-group ">
			<div class="col-md-12 inputGroupContainer ">
				<div class="input-group">
					<div class="dropdown">
						<select th:field="${competenceSaisieForm.idCompetence}"
							class="form-control" data-toggle="tooltip"
							title="Saisir compétence">
							<option th:each="f : ${competenceSaisieForm.competences}"
								th:value="${f.id}" th:text="${f.nom}">Pouet Pouet</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group dropdown">
			<div class="col-lg-10 dropdown">
				<select
					th:field="${competenceSaisieForm.idCompetenceType}"
					class="form-control" data-toggle="tooltip"
					title="Saisir le type de la compétence ">
					<option th:each="f : ${competenceSaisieForm.competenceTypes}"
						th:value="${f.id}" th:text="${f.nom}">Pouet Pouet</option>
				</select>
			</div>
		</div>

		<div class="form-group">

			<div class="col-lg-10">
				<input th:field="${competenceSaisieForm.niveau}"
					class="form-control" data-toggle="tooltip"
					title="Saisir le niveau d'expertise compétence" type="text"
					placeholder="niveau de compétence entre 1 débutant et 5 expert" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-10">
				<input th:field="${competenceSaisieForm.dureeExperience}"
					class="form-control" data-toggle="tooltip"
					title="Saisir durée de l'expérience" type="text"
					placeholder="Année d'expérience de la compétence" />
			</div>
		</div>
		
		<div class="form-group">

			<div class="col-lg-10">
				<input th:field="${competenceSaisieForm.anneeDerniereExperience}"
					class="form-control" data-toggle="tooltip"
					title="Saisir dernière année expérience" type="text"
					placeholder="dernière année utilisation de la compétence ex: 2016" />
			</div>
		</div>
		
		<div class="form-group">

			<div class="col-lg-10">
				<input th:field="${competenceSaisieForm.commentaire}"
					class="form-control" data-toggle="tooltip"
					title="Saisir un commentaire au sujet de la compétence" type="text"
					placeholder="Préciser le contexte de votre expérience" />
			</div>
		</div>
		
		<div class="form-group">
			<div >
				<button type="submit" class="btn btn-default" name = "choix" value = "enregistrer">
					Enregistrer <span class="glyphicon glyphicon-ok"></span>
				</button>
                <!-- Le bouton supprimer appelle le java script suppFormation qui se trouve dans ficheformation.html et on peut le faire car dans le même contexte html il suffit 
                d'appeler la fonction, sinon il aurait fallu  recopier le java script dans cette page  -->
				<button type="button" class="btn btn-default" name = "choix" value = "supprimer" th:onclick="'suppCompetence('+${competenceSaisieForm.idDetailCompetence}+')'">
					Supprimer <span class="glyphicon glyphicon-trash"></span> 
				</button>
			</div>
		</div>

	</fieldset>
</form>

<!-- 	<input data-toggle="tooltip" title="tooltip on second input!" type="text" placeholder="Focus me!" name="secondname"/> -->
<!-- $('input[type=text][name=secondname]').tooltip({ /*or use any other selector, class, ID*/ -->
<!--     placement: "right", -->
<!--     trigger: "focus" -->
<!-- }); -->
<script type="text/javascript">
$(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
</script>

</html>