<html xmlns:th="http://www.thymeleaf.org">

<form class="form-narrow form-horizontal" action="#" method="post" id = "competenceForm"
	th:action="@{/competenceAjout}">
	<th:block th:if="${param.error != null}">
		<div
			th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
	</th:block>

	<fieldset>
		<legend>Ajouter une compétence</legend>

		<div class="form-group ">
				<div class="input-group">
					<div class="dropdown">
						<select th:field="${competenceSaisieForm.idCompetence}"
							class="form-control" data-toggle="tooltip"
							title="Saisir compétence">
							<option th:each="f : ${competenceSaisieForm.competences}"
								th:value="${f.id}" th:text="${f.nom}">Pouet Pouet</option>
						</select>
					</div>
				</div>
		</div>

		<div class="form-group dropdown">
				<select
					th:field="${competenceSaisieForm.idCompetenceType}"
					class="form-control" data-toggle="tooltip"
					title="Saisir le type de la compétence ">
					<option th:each="f : ${competenceSaisieForm.competenceTypes}"
						th:value="${f.id}" th:text="${f.nom}">Pouet Pouet</option>
				</select>
		</div>

<!-- 		<div class="form-group"> -->
<!-- 				<input th:field="${competenceSaisieForm.niveau}" -->
<!-- 					class="form-control" data-toggle="tooltip" -->
<!-- 					title="Saisir le niveau d'expertise compétence" type="text" -->
<!-- 					placeholder="niveau de compétence entre 1 débutant et 5 expert" id="level1a5" /> -->
<!-- 		</div> -->
<div>
<p>
<ul class="notes-echelle">
	<li>
		<label for="note01" title="Note&nbsp;: 1 sur 5">1</label>
		<input type="radio" th:field="${competenceSaisieForm.niveau}" id="note01" value="1" />
	</li>
	<li>
		<label for="note02" title="Note&nbsp;: 2 sur 5">2</label>
		<input type="radio" th:field="${competenceSaisieForm.niveau}" id="note02" value="2" />
	</li>
	<li>
		<label for="note03" title="Note&nbsp;: 3 sur 5">3</label>
		<input type="radio" th:field="${competenceSaisieForm.niveau}" id="note03" value="3" />
	</li>
	<li>
		<label for="note04" title="Note&nbsp;: 4 sur 5">4</label>
		<input type="radio" th:field="${competenceSaisieForm.niveau}" id="note04" value="4" />
	</li>
	<li>
		<label for="note05" title="Note&nbsp;: 5 sur 5">5</label>
		<input type="radio" th:field="${competenceSaisieForm.niveau}" id="note05" value="5" />
	</li>
</ul>
</p>
</div>
		<div class="form-group">
				<input th:field="${competenceSaisieForm.dureeExperience}"
					class="form-control" data-toggle="tooltip"
					title="Saisir durée de l'expérience" type="text"
					placeholder="Année d'expérience de la compétence" id = "duree"/>
		</div>
		
		<div class="form-group">
				<input th:field="${competenceSaisieForm.anneeDerniereExperience}"
					class="form-control" data-toggle="tooltip"
					title="Saisir dernière année expérience" type="text"
					placeholder="dernière année utilisation de la compétence ex: 2016" id = "annee1"/>
		</div>
		
		<div class="form-group">
				<textarea th:field="${competenceSaisieForm.commentaire}"
					class="form-control" data-toggle="tooltip"
					title="Saisir un commentaire au sujet de la compétence" rows ="3"
					placeholder="Préciser le contexte de votre expérience" /></textarea>
		</div>
	
				<button type="submit" class="btn btn-primary" id="connexion">
					Enregistrer <span class="glyphicon glyphicon-ok"></span>
				</button>
				<a th:href="@{/displayProfil}"><button type="button" class="btn btn-success">
							Annuler <span class="glyphicon glyphicon-arrow-left"></span>
						</button></a>
		

	</fieldset>
</form>

<!-- 	<input data-toggle="tooltip" title="tooltip on second input!" type="text" placeholder="Focus me!" name="secondname"/> -->
<!-- $('input[type=text][name=secondname]').tooltip({ /*or use any other selector, class, ID*/ -->
<!--     placement: "right", -->
<!--     trigger: "focus" -->
<!-- }); -->
<script type="text/javascript">formulaireEstCharge(); </script>
<script type="text/javascript"> pageModaleChargee();</script>
<!--  //appel la fonciton pagemodelchargee du fichier validationcompetence.js -->
