<html xmlns:th="http://www.thymeleaf.org">

<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/competenceConfirmerSuppression}">
	<input type="hidden" th:field="${competenceConfirmerSuppression.id}" />
	<th:block th:if="${param.error != null}">
		<div
			th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
	</th:block>

	<fieldset>
		<legend>Confirmation Suppression de la compétence</legend>

		<div class="form-group ">
			<div class="col-lg-8" style="color: black">
				<span th:text="${competenceConfirmerSuppression.competenceType.nom}"></span>
				<span th:text="${competenceConfirmerSuppression.competence.nom}"></span>
				<span th:text="${competenceConfirmerSuppression.niveau}"></span>
				<span th:text="${competenceConfirmerSuppression.dureeExperience}"></span>
				<span th:text="${competenceConfirmerSuppression.anneeDerniereExperience}"></span>
			</div>
		</div>
	</fieldset>

	<div class="form-group " style="padding-top: 20px">
		<div>
			<button type="submit" class="btn btn-default">
				Supprimer <span class="glyphicon glyphicon-ok"></span>
			</button>

		</div>
	</div>
</form>
