<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ajout Competence</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
	 <script  th:src="@{/resources/js/validationCompetences.js}"></script>

</head>

<form class="form-narrow form-horizontal" action="#" method="post" id = "competenceForm"
	th:action="@{/competenceAjout}">
	<th:block th:if="${param.error != null}">
		<div
			th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
	</th:block>

	<fieldset>
		<legend>Ajouter une compétence</legend>

		<div class="form-group ">
			<div class="col-md-12 inputGroupContainer ">
				<div class="input-group">
					<div class="dropdown">
						<select th:field="${competenceSaisieForm.idCompetence}"
							class="form-control" data-toggle="tooltip"
							title="Saisir compétence">
							<option th:each="f : ${competenceSaisieForm.competences}"
								th:value="${f.id}" th:text="${f.nom}">Pouet Pouet</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group dropdown">
			<div class="col-lg-10 dropdown">
				<select
					th:field="${competenceSaisieForm.idCompetenceType}"
					class="form-control" data-toggle="tooltip"
					title="Saisir le type de la compétence ">
					<option th:each="f : ${competenceSaisieForm.competenceTypes}"
						th:value="${f.id}" th:text="${f.nom}">Pouet Pouet</option>
				</select>
			</div>
		</div>

		<div class="form-group">

			<div class="col-lg-10">
				<input th:field="${competenceSaisieForm.niveau}"
					class="form-control" data-toggle="tooltip"
					title="Saisir le niveau d'expertise compétence" type="text"
					placeholder="niveau de compétence entre 1 débutant et 5 expert" id="level1a5" />
			</div>
		</div>

		<div class="form-group">

			<div class="col-lg-10">
				<input th:field="${competenceSaisieForm.dureeExperience}"
					class="form-control" data-toggle="tooltip"
					title="Saisir durée de l'expérience" type="text"
					placeholder="Année d'expérience de la compétence" id = "duree"/>
			</div>
		</div>
		<div class="form-group">

			<div class="col-lg-10">
				<input th:field="${competenceSaisieForm.anneeDerniereExperience}"
					class="form-control" data-toggle="tooltip"
					title="Saisir dernière année expérience" type="text"
					placeholder="dernière année utilisation de la compétence ex: 2016" id = "annee1"/>
			</div>
		</div>
		<div class="form-group">

			<div class="col-lg-10">
				<textarea th:field="${competenceSaisieForm.commentaire}"
					class="form-control" data-toggle="tooltip"
					title="Saisir un commentaire au sujet de la compétence" rows ="3"
					placeholder="Préciser le contexte de votre expérience" /></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button type="submit" class="btn btn-default" id="connexion">
					Enregistrer <span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		</div>

	</fieldset>
</form>

<!-- 	<input data-toggle="tooltip" title="tooltip on second input!" type="text" placeholder="Focus me!" name="secondname"/> -->
<!-- $('input[type=text][name=secondname]').tooltip({ /*or use any other selector, class, ID*/ -->
<!--     placement: "right", -->
<!--     trigger: "focus" -->
<!-- }); -->
<script type="text/javascript">
	$(function() {
		$('[data-toggle="tooltip"]').tooltip()
	});
</script>
<script type="text/javascript"> pageModaleChargee();</script>
<!--  //appel la fonciton pagemodelchargee du fichier validationcompetence.js -->
</html>