<html xmlns:th="http://www.thymeleaf.org">
<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/confirmerSuppression}">
	<input type="hidden" th:field="${confirmerSuppression.id}" />
	<th:block th:if="${param.error != null}">
		<div
			th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
	</th:block>

	<fieldset>
		<legend>Confirmation Suppression de la formation</legend>

		<div class="form-group ">
			<div class="col-lg-8" style="color: black">
				<span th:text="${confirmerSuppression.nomFormation.diplome}"></span>
				<span th:text="${confirmerSuppression.nomSpecialite.specialite}"></span>
				<span th:text="${confirmerSuppression.ecole}"></span> 
				<span th:text="${confirmerSuppression.annee}"></span>
			</div>
		</div>
	</fieldset>

	<div class="form-group " style="padding-top: 20px">
		<div>
			<button type="submit" class="btn btn-primary">
				Supprimer <span class="glyphicon glyphicon-ok"></span>
			</button>
			
			<a th:href="@{/displayProfil}"><button type="button" class="btn btn-success">
				Annuler <span class="glyphicon glyphicon-arrow-left"></span>
			</button></a>

		</div>
	</div>
</form>