<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"></script>

<form class="form-narrow form-horizontal" action="#" method="post"
	id="experienceForm" th:action="@{/experienceAjout}">
	<th:block th:if="${param.error != null}">
		<div
			th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
	</th:block>

	<fieldset>
		<legend>Ajouter une expérience</legend>

		<div class="form-group ">
			<div class="input-group">
				<label class="label_ajoutCompetence">Nom de la Société :</label> <input
					th:field="${experienceSaisieForm.nom}" class="form-control"
					data-toggle="tooltip" style="width: 40%"
					title="Saisir le nom de la société" type="text" id="nom" />
			</div>
		</div>

		<div class="form-group " >
			<div class="input-group date" style="display : flex;">
				<label class="label_ajoutCompetence">Date de début:</label> 
					<input type="text"
					th:field="${experienceSaisieForm.dateDebut}" class="form-control"
					data-toggle="tooltip" style="width: 28%;"
					title="Saisir la date de début" id="dateDebut"/><span class="input-group-addon" style="padding: 6px 20px 6px 6px;"><i class="glyphicon glyphicon-th"></i></span>
			</div>
		
		</div>

		<div class="form-group" >
			<div class="input-group date" style="display : flex;">
				<label class="label_ajoutCompetence">Date de fin:</label> 
				    <input type="text"
					th:field="${experienceSaisieForm.dateFin}" class="form-control"
					data-toggle="tooltip" style="width: 28%"
					title="Saisir la date de fin" id="dateFin" /><span class="input-group-addon" style="padding: 6px 20px 6px 6px;"><i class="glyphicon glyphicon-th"></i></span>
			</div>
		</div>

		<div class="form-group dropdown">
			<label class="label_ajoutCompetence">Métier exercé :</label> <select
				th:field="${experienceSaisieForm.idMetier}" class="form-control"
				style="width: 40%" data-toggle="tooltip"
				title="Saisir le métier exercé">
				<option th:each="f : ${experienceSaisieForm.metiers}"
					th:value="${f.id}" th:text="${f.libelle}">Pouet Pouet</option>
			</select>
		</div>

		<div class="form-group">
			<label class="label_ajoutCompetence">Commentaire :</label>
			<textarea th:field="${experienceSaisieForm.commentaire}"
				class="form-control" data-toggle="tooltip" style="width: 60%"
				title="Saisir un commentaire au sujet de l'expérience" rows="3" /></textarea>
		</div>

		<button type="submit" class="btn btn-primary" id="enregistrer">
			Enregistrer <span class="glyphicon glyphicon-ok"></span>
		</button>
		<a th:href="@{/displayProfil}"><button type="button"
				class="btn btn-success">
				Annuler <span class="glyphicon glyphicon-arrow-left"></span>
			</button></a>
	</fieldset>
</form>

<script>
    $('.input-group.date').datepicker({
        startView: 2,
        language: "fr",
        autoclose: true,
        todayHighlight: true
    });
</script>
<script type="text/javascript"> experienceFormulaireCharge();</script>