<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ma Bonne Reconversion</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<div id="formation" class="tab-pane fade inactive">
	<div class="container">
		<table>
			<tr>
				<th>Diplome &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
				<th>Spécialité &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
				<th>Ecole &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
				<th>Année &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
				<th>Actions</th>
			</tr>

			<tr th:each="f : ${formations}">
				<td th:text="${f.nomFormation.diplome}"></td>
				<td th:text="${f.nomSpecialite.specialite}"></td>
				<td th:text="${f.ecole}"></td>
				<td th:text="${f.annee}"></td>
				<!--				Exemple lien avec parametres en utilisant Thymeleaf
				<a th:href="@{/editFormation(idFormation=${f.id}, id2=${f.annee})}"> -->
				<td>
					<!-- 				<a th:href="@{/editFormation(idFormation=${f.id})}">  -->
					<div th:onclick="'editFormation('+${f.id}+')'">
						<span class="glyphicon glyphicon-pencil"></span>
					</div> <!-- 				</a> -->
				</td>
				<td>
					<!-- 				<a th:href="@{/editFormation(idFormation=${f.id})}">  -->
					<div th:onclick="'suppFormation('+${f.id}+')'">
						<span class="glyphicon glyphicon-trash"></span>
					</div> <!-- 				</a> -->
				</td>
			</tr>
		</table>
	</div>
	<br> <br> <br>
	<p>
		<a class="btn btn-lg btn-warning" id="btnAjouterFormation">Ajouter
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</p>
	<div
		th:replace="fragments/components :: modal(id='ajouterFormation-modal', title='Ajouter une formation')"></div>

	<div
		th:replace="fragments/components :: modal(id='modifierFormation-modal', title='Modifier une formation')"></div>

	<div
		th:replace="fragments/components :: modal(id='confirmerSuppression-modal', title='Confirmation Suppression')"></div>
</div>
<script th:inline="javascript" type="text/javascript">
	/* Fill in modal with content loaded with Ajax */
	$(document).ready(function() {
		$('#btnAjouterFormation').on('click', function() {
			$("#ajouterFormation-modal").modal();
			$("#ajouterFormation-modal-body").text("");
			$.ajax({
				url : "ajouterFormationURL",
				cache : false
			}).done(function(html) {
				$("#ajouterFormation-modal-body").append(html);
			});
		});

	});

	function editFormation(idFormation) {

		$("#modifierFormation-modal").modal();
		$("#modifierFormation-modal-body").text("");
		$.ajax({
			url : "editFormationURL?idFormation=" + idFormation,
			cache : false
		}).done(function(html) {
			$("#modifierFormation-modal-body").append(html);

			
		});
	}
	function suppFormation(idFormation) {

		$("#confirmerSuppression-modal").modal();
		$("#confirmerSuppression-modal-body").text("");
		$.ajax({
			url : "confirmerSuppressionURL?idFormation=" + idFormation,
			cache : false
		}).done(function(html) {
			$("#confirmerSuppression-modal-body").append(html);
		});

	}
</script>


</html>