<html xmlns:th="http://www.thymeleaf.org">
<div id="mobilite" class="tab-pane fade">
	<h2> Ma Situation géographique : 
		<span th:text="${profilForm.account.commune.codePostal}
								+ ' - '+ ${profilForm.account.commune.libelle}"></span>
	</h2>
	<h2>Périmètre de mobilité souhaité</h2>

	<th:block th:each="m : ${profilForm.listeMobilite}">
		<div class="col-lg-6">
			<input type="checkbox"
				th:text="${'&nbsp; &nbsp; 	&nbsp;'+m.code + ' - ' + m.libelle}"
				th:field="${profilForm.idsMobilite}" th:value="${m.id}" />
		</div>
	</th:block>

	<!-- Button -->
	<span>&nbsp;</span>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">
			Enregistrer <span class="glyphicon glyphicon-ok"></span>
		</button>
		<a th:href="@{/displayProfil}"><button type="button"
				class="btn btn-success">
				Annuler <span class="glyphicon glyphicon-arrow-left"></span>
			</button></a>
	</div>
</div>