<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign In</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>


<form class="form-narrow form-horizontal" action="#" method="post"
	th:action="@{/modifierFormation}">
	<input type="hidden" th:field="${saisieFormationForm.idDetailFormation}"/>
	<th:block th:if="${param.error != null}">
		<div
			th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
	</th:block>

	<fieldset>
		<legend>Modifier une formation</legend>

		<div class="form-group ">
			<div class="col-md-12 inputGroupContainer ">
				<div class="input-group">
					<div class="dropdown">
						<select th:field="${saisieFormationForm.idNomFormation}"
							class="form-control" data-toggle="tooltip"
							title="Saisir le diplôme">
							<option th:each="f : ${saisieFormationForm.nomFormations}"
								th:value="${f.id}" th:text="${f.diplome}">Pouet Pouet</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group dropdown">
			<div class="col-lg-10 dropdown">
				<select th:field="${saisieFormationForm.idNomSpecialite}"
					class="form-control" data-toggle="tooltip"
					title="Saisir la spécialité de votre formation ">
					<option th:each="f : ${saisieFormationForm.nomSpecialites}"
						th:value="${f.id}" th:text="${f.specialite}">Pouet Pouet</option>
				</select>
			</div>
		</div>

		<div class="form-group">

			<div class="col-lg-10">
				<input th:field="${saisieFormationForm.ecole}" class="form-control"
					data-toggle="tooltip"
					title="Saisie le lieu d'obtention ou le nom de l'école" type="text"
					placeholder="Nom école" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-10">
				<input th:field="${saisieFormationForm.annee}" class="form-control"
					data-toggle="tooltip" title="Entrez l'année d'obtention"
					type="text" placeholder="Année d'obtention" />
			</div>
		</div>


		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button type="submit" class="btn btn-default">
					Enregistrer <span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		</div>

	</fieldset>
</form>

<!-- 	<input data-toggle="tooltip" title="tooltip on second input!" type="text" placeholder="Focus me!" name="secondname"/> -->
<!-- $('input[type=text][name=secondname]').tooltip({ /*or use any other selector, class, ID*/ -->
<!--     placement: "right", -->
<!--     trigger: "focus" -->
<!-- }); -->
<script type="text/javascript">
$(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
</script>

</html>