<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ma Bonne Reconversion</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
		 
    <link href="../../../resources/css/bootstrap-datepicker3.min.css" rel="stylesheet"
     media="screen" th:href="@{/resources/css/bootstrap-datepicker3.min.css}" />
    <script src="../../../resources/js/bootstrap-datepicker.min.js"
    th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script src="../../../resources/js/bootstrap-datepicker.fr.min.js"
    th:src="@{/resources/js/bootstrap-datepicker.fr.min.js}"></script>
	
	<link href="../../../resources/css/formulaires.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/formulaires.css}" />	
	<script	th:src="@{/resources/js/formulaires.js}"></script>
	<script	th:src="@{/resources/js/formulaireEtatCivil.js}"></script>
	<script th:src="@{/resources/js/formulaireFormation.js}"></script>
	<script	th:src="@{/resources/js/validationCompetences.js}"></script>
<!-- 	<script th:src="@{/resources/js/validationExperience.js}"></script> -->
	
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container border col-lg-12 col-sm-12 col-md-12 col-xs-12">
		<div class="row table-row-equal" style="font-size:16px;">
			<!-- 		<div class="row row-centered row-eq-height "> -->
			<div
				class="col-lg-10 col-sm-10 col-md-10 col-xs-10 panneau-1 border ">
				<span class="h2"> Saisie du profil </span> <br /> <br />
				<ul class="nav nav-tabs">
					<li class="active"><a  style="color:black;" data-toggle="tab" href="#etatcivil"> Etat civil</a></li>
					<li><a style="color:black;" data-toggle="tab" href="#competence"> Compétences</a></li>
					<li><a style="color:black;" data-toggle="tab" href="#formation"> Formation</a></li>
					<li><a style="color:black;" data-toggle="tab" href="#mobilite"> Mobilité</a></li>
					<li><a style="color:black;" data-toggle="tab" href="#experience"> Expérience</a></li>
				</ul>
				<div class="tab-content">
					<div th:replace="profil/etatCivil"></div>
					<div th:replace="profil/competencesListe"></div>
 					<div th:replace="profil/formationListe"></div> 
					<div th:replace="profil/mobilite"></div>
					<div th:replace="profil/experiencesListe"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer">&copy; 2017 The
		Static Templates</div>
</body>
</html>