<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stéphane</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container   ">
	    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
		<div class="row border1 ">
			<div
				class="col-lg-3 col-sm-6 col-md-4 col-xs-12 panneau-bleu border ">
				<span class="h2"> Cibler par </span> <br /> <br />
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#metier">
							Métiers</a></li>
					<li><a data-toggle="tab" href="#competence">
							Compétences</a></li>
					<li><a data-toggle="tab" href="#region"> R&eacute;gion</a></li>
				</ul>

				<div class="tab-content">
					<div id="metier" class="tab-pane fade in active">
						<form th:action="@{/sInformer}" method="post" th:object="${homeForm}"> <!--  objet homeForm ajouté permet de supprimer le nom object dans field (field est un champ de l'object)--> 
							<br />
							<p>Saisir un métier</p>
							<div class="dropdown">
								<select th:field="*{codeMetier}" class="form-control">  <!-- home est ici précisé car each attend une liste qui ici est placé dans homeForm -->
									<option th:each="metier : ${homeForm.listeMetiers}"  
										th:value="${metier.code}"
										th:text="${metier.code + ' - ' + metier.libelle}" >Pouet Pouet </option>
								</select>
							</div>
							<br />

							<p>
								<!-- <a class="btn btn-primary btn-lg placer" href="#" role="button">S'informer</a> -->
								<button class="btn btn-primary btn-lg placer" type="submit"
									NAME="Valider">S'informer</button>
							</p>
						</form>
					</div>
					<div id="competence" class="tab-pane fade">
						<h3>Menu 1</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div id="region" class="tab-pane fade">
						<h3>Menu 2</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit
							voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					</div>
				</div>
			</div>
			<div
				class="col-lg-3 col-sm-6 col-md-4 col-xs-12  panneau-violet border">
				<span class="h2"> Construire </span>
			</div>
			<div
				class="col-lg-3 col-sm-6 col-md-4 col-xs-12 panneau-vert  border ">
				<span class="h2"> Partager </span>
			</div>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer">&copy; 2016 The Static Templates</div>
</body>
</html>