<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Fiche profil - Mobilité
	géographique</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<p class="lead text-center">fiche Profil géographique</p>
		<p>Saisir un m&eacute;tier</p>

		<h2>Situation géographique :</h2>
		<p>
			<span th:text="${profil.codePostal}"></span>
		</p>
		<h2>Périmètre :</h2>
		<p>
			<span th:text="${profil.mobilite}"></span>
		</p>
<!-- 		<form th:action="@{/definirMobilite}" method="post"
			th:object="${ficheProfilGeographiqueForm}">
			 objet homeForm ajouté permet de supprimer le nom object dans field (field est un champ de l'object)

			<div class="dropdown">
				<select th:field="*{codeMobilite}" class="form-control">
					ficheProfil est ici précisé car each attend une liste qui ici est placé dans ficheProfil
					<option
						th:each="mobilite : ${ficheProfilGeographiqueForm.listeMobilites}"
						th:value="${account.mobilite}"
						th:text="${mobilite.code + ' - ' + mobilite.libelle}">Wireframe
					</option>
				</select>
			</div>
		</form> -->
	</div>
	<br>
	<br>
	<br>

	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>