<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stéphane</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container border ">
		<div class="row table-row-equal">
			<!-- 		<div class="row row-centered row-eq-height "> -->
			<div
				class="col-lg-12 col-sm-12 col-md-12 col-xs-12 panneau-1 border ">
				<span class="h2"> Saisie du profil </span> <br /> <br />
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#etatcivil">
							Etat civil</a></li>
					<li><a data-toggle="tab" href="#competence">
							Comp&eacute;tences</a></li>
					<li><a data-toggle="tab" href="#formation"> Formation</a></li>
					<li><a data-toggle="tab" href="#mobilite"> Mobilité</a></li>
				</ul>
				<div class="tab-content">
					<div id="etatcivil" class="tab-pane fade in active">
						<form class="well form-horizontal" action=" " method="post"
							th:action="@{/saveEtatCivil}">
							<fieldset>
								<!-- Text input-->
								<div class="form-group">
									<div class="col-md-12 inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-user"></i></span> <input name="Nom"
												placeholder="Nom" class="form-control"
												th:field="${profilForm.account.nom}">
										</div>
									</div>
								</div>
								<!-- Text input-->
								<div class="form-group">
									<div class="col-md-12 inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-user"></i></span> <input name="Prénom"
												placeholder="Prénom" class="form-control" type="text"
												th:field="${profilForm.account.prenom}">
										</div>
									</div>
								</div>
								<!-- Text input-->
								<div class="form-group">
									<div class="col-md-12 inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-phone-alt"></i></span> <input
												name="Téléphone Fixe" placeholder="Téléphone fixe"
												class="form-control" type="text"
												th:field="${profilForm.account.telephoneFixe}">
										</div>
									</div>
								</div>
								<!-- Text input-->
								<div class="form-group">
									<div class="col-md-12 inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-phone"></i></span> <input
												name="Téléphone Mobile" placeholder="Téléphone mobile"
												class="form-control" type="text"
												th:field="${profilForm.account.telephoneMobile}">
										</div>
									</div>
								</div>
								<!-- Text input-->
								<div class="form-group">
									<div class="col-md-12 inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-envelope"></i></span> <input
												name="email" placeholder="Adresse E-Mail"
												class="form-control" type="text" readonly
												th:field="${profilForm.account.email}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12 inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-home"></i></span>
											<div class="dropdown">
												<select th:field="${profilForm.account.commune.id}"
													class="form-control">
													<option th:each="c : ${profilForm.listeCommune}"
														th:value="${c.id}"
														th:text="${c.codePostal + ' - ' + c.libelle}">Wireframe
													</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<!-- Select Basic -->

								<div class="form-group">
									<div class="col-md-12 inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i
												class="glyphicon glyphicon-list"></i></span>
											<div class="dropdown">
												<select th:field="${profilForm.account.situation.id}"
													class="form-control">
													<option th:each="s : ${profilForm.listeSituation}"
														th:value="${s.id}" th:text="${s.code + ' - ' + s.libelle}">Wireframe
													</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<!-- Button -->
								<div class="form-group">
									<button type="submit" class="btn btn-warning">
										Enregistrer <span class="glyphicon glyphicon-ok"></span>
									</button>

									<a th:href="@{/}"><button type="button"
											class="btn btn-warning">
											Annuler <span class="glyphicon glyphicon-arrow-left"></span>
										</button></a>
								</div>
							</fieldset>
						</form>
					</div>
					<div id="competence" class="tab-pane fade">
						<h3>Menu 1</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div id="formation" class="tab-pane fade">
						<h3>Menu 2</h3>
						<div th:replace="home/ficheFormation"></div>
					</div>
					<div id="mobilite" class="tab-pane fade">
						<div class="container">
							<p class="lead text-center">fiche Profil géographique</p>
							<p>Saisir la mobilit&eacute; souhait&eacute;e</p>

							<h2>Ma Situation géographique :</h2>
							<p>
								<span th:text="${profilForm.account.commune.codePostal}
								+ ' - '+ ${profilForm.account.commune.libelle}"></span>
							</p>
							<h2>Périmètre :</h2>
							<form class="controls span2" th:action="@{/defineMobilite}"
								method="post" th:object="${profilForm}">
					<!--  		<div class="dropdown">
									<select th:field="${profilForm.account.mobilite.id}" class="form-control">
										<option th:each="m : ${profilForm.listeMobilite}"
											th:value="${m.id}"
											th:text="${m.code + ' - ' + m.libelle}">Wireframe</option>
									</select> -->
									
									  <th:block th:each="m : ${profilForm.listeMobilite}">
                           <!-- <td> -->
                           <div class="controls span2">
                           <input type="checkbox" 
                           th:text="${m.code + ' - ' + m.libelle}" th:field="${profilForm.listeMobilite}" th:value="${m.id}" />
                           <!-- </td> -->
                           </div>
                          </th:block>  
							<br />
								<!-- Button -->
								<div class="form-group">
									<button type="submit" class="btn btn-warning">
										Enregistrer <span class="glyphicon glyphicon-ok"></span>
									</button>

									</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:replace="fragments/layout :: footer">&copy; 2016 The
		Static Templates</div>
</body>
</html>